#mainBox{
    width: 900px;
    margin: auto;   
    #mainNoticeInfo{
        width: 100%;
        padding-bottom: 10px;
        padding-top: 40px;

        #mainNoticeH1{
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 5px;
        }   
        #mainNoticeBox{
            display: flex;
            flex-wrap: wrap; 
            gap: 16px; /* 아이템 사이의 간격 (원하는 크기로 조정) */
        }
        #noticeDetailLink{
            display: flex;
            justify-content: center;
            border: 1px solid rgb(189, 187, 187);
            padding: 10px;
            margin: 10px 400px 0px 400px;
            background-color: white;
            font-size: 13px;
            cursor: pointer;
        }

    }
}