<!DOCTYPE html>
<!--라이브러리 참조 : Thymeleaf & Thymeleaf Layout -->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--<head th:replace="common/fragments/config :: ConfigFragment">-->
<!--    <title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">공통 타이틀</title>-->
<!--</head>-->

<body>
    <header th:replace="body/header :: HeaderFragment"></header>

    <th:block layout:fragment="Content"></th:block>

    <footer th:replace="body/footer :: FooterFragment"></footer>
</body>
</html>