<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.UserMapper">
    <select id="userIdCreate"  parameterType="com.project.Joonggonara.model.vo.JGUserInfo">
        insert into JGUserInfo (userId, userPwd, userImg, userName, userUpdate, userTotalPointer, userAddress, userAddressDetail)
        value (#{userId}, #{userPwd}, #{userImg}, #{userName}, NOW(), #{userTotalPointer}, #{userAddress}, #{userAddressDetail})
    </select>
</mapper>