#footerBack{
        background-color: rgb(243, 243, 243);
        margin-top: 30px;
    #footerBox{
        margin: auto;
        width: 900px;
        height: 100%;
        display: flex;
        font-size: 12px;

        #footerInfo,#footerInfoFirst,#footerInfoBack,#footerInfoFront{
            height: 100%;
            width: 100%;
            margin: 10px;

            #footerH1{
                font-weight: bold;
                font-size: 18px;
                padding-bottom: 10px;

            }
            #footerInfoBox{
                padding-left: 10px;
                height: 100%;
                font-size: 11px;
                #success{
                    font-weight: bold;
                }
                div{
                    padding: 2px 0px;
                }
            }
        }
        #footerInfoFirst{
            width: 500px;
        }
    }   
}
