#loginImgBox{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    

    #loginImg{
    width: 100%;
    height: 100%;
    filter: blur(5px);
    }   
    #loginBox{
        position: fixed;
        padding: 30px;
        width: 300px;
        height: 400px;
        background-color: rgb(255, 255, 255);
        z-index: 100;
        border-radius: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        #loginHeader{
            display: flex;
            justify-content: center;
            align-items: center;
            #loginHeaderText{
                font-size: 30px;
                font-weight: bold;
                padding: 10px;
            }

        }   
        #loginCenter{
            width: 100%;
        }
        #socialBox{
            display: flex;
            align-items: center; /* 글자와 선의 세로 정렬 */
            text-align: center;
            width: 100%; /* 원하는 너비 지정 */
            color: #333;
            font-weight: bold;
            font-size: 11px;
            margin: 10px 0px;
        }
        #socialBox:before,#socialBox:after{
            content: "";
            flex: 1; /* 남아있는 공간을 선으로 채움 */
            border-bottom: 1px solid #ccc; /* 선 두께와 색상 */
        }
        #loginFooter{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            font-size: 30px;
            color: white;
            div{
                padding: 10px;
                background-color: #333;
                margin: 10px;
                border-radius: 10px;
                cursor: pointer;
            }
        }
    }





    #signUpText{
        position: fixed;
        top: 105%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        color: white;
        font-weight: bold;
    }
    #homeText{
        position: fixed;
        top: 115%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        color: white;
        font-weight: bold;
    }
}

